<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/page.css') }}">
	<style>
		form{
			display: flex;
			flex-direction: column;
		}
	</style>
</head>
<body>
	<!-- All the divs for the forms -->
	<div class="form-frame">
		<!-- Login form -->
		<div class="login">
		    <h1>Passing Python</h1>
		    <p>
		        Any nickname available.</br>
		        The messages will last 10 hours and you can post 10.
		        Here it is : <a href="https://http://odealame.eu.pythonanywhere.com/gaz">Post here!</a>
		    </p>
	  </div>
</body>
</html>
